= form_with(model: demo, local: true) do |form|
  - if demo.errors.any?
    #error_explanation
      h2
        = pluralize(demo.errors.count, "error")
        |  prohibited this demo from being saved:
      ul
        - demo.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  .actions
    = form.submit
script
  |  ClassicEditor .create( document.querySelector( '#demo_content' ), { simpleUpload: { uploadUrl: {url:'/upload', headers:{ 'X-CSRF-Token': '<ruby code="= form_authenticity_token"></ruby>'} } } }) .catch( error => { console.error( error ); } ); 
